@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    min-height: 100vh;
    
}

:root {
    --fonte-padrao: 'Sriracha', 'cursive';
    --fonte-titulo: 'Passion One', 'cursive';
}

header {
    background-color: black;
    
    
    
}
header > h1 {
    color: white;
    font-family: var(--fonte-titulo);
    padding-top: 50px;
    font-size: 10vw;
    font-weight: lighter;
    text-align: center;
    font-variant: small-caps;
    
}

header p {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

div {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
    
}

div.normal {
    background-color: white;
    color: black;
    text-align: left;
    font-weight: lighter;
    padding-left: 30px;
    
    
}

div.normal p {
    
    padding-bottom: 2em;
    
}

div.imagem {
    padding-left: 30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-attachment: fixed;
}




div.imagem#img01 {
    background-color: rgb(128, 53, 53);
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    
   
}

div.imagem >  p {
    background-color: rgba(0, 0, 0, 0.555);
    background-size: 5vw;
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
     
}



div.imagem#img02 {
    background-color: black;
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    
    
}


    




footer {
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    display: block;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}